.stories-container {
  max-width: 200;
  max-height: 200;
}
.my-container {
  max-width: 200;
  max-height: 200;
}

.small-card {
  margin: 20px;
  box-shadow: ;
}
.small-card-img {
  align-items: center;
}
.small-card-text {
  text-align: center;
  margin: 0;
}
